/**************** Main **************/

.cuerpo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}


.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
}

.contenedor .tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px #000;
    background-color: white;
    margin: 5px;
    width: 250px;
    height: 350px;
}

.contenedor .tarjeta:hover {
    transition: 1.5s;
    transform: scale(1.1); 
}

.contenedor .tarjeta .productImage {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.contenedor .tarjeta .btn {
    width: 100%;
    border-radius: 0%;
    cursor: pointer;
    user-select: none;
}

.cartDiv{
    border: solid 1px #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 25%;
    height: 100%;
}

.cartDiv .cartProduct{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    border-bottom: solid 1px gray;
}

.cartDiv .cartProduct input{
    width: 50px;
    height: 50px;
    border: solid 1px #000;
    text-align: center;
}

.cartDiv .cartImage{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
}